<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <!-- logo da empresa -->
    <a class="navbar-brand" href="/home"> <img src="./public/images/logo.png" alt="logo" width="60" height="60"> SM</a>
    <!-- fim da logo -->

     <!-- botão pra maximizar o menu -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- fim do botão -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- opção de página principal -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <!-- fim de opção página principal -->
        
        <!-- opções de página para o usuário -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuários
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/usuarios">Ver usuários</a></li>
            <li><a class="dropdown-item" href="/usuarios/cadastrar">Criar usuário</a></li>
          </ul>
        </li>
        <!-- fim de opções de usuário -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Produtos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/produtos">Produtos</a></li>
            <li><a class="dropdown-item" href="/produtos/cadastrar">Cadastrar Produto</a></li>
          </ul>
        </li>

      </ul>
        <!-- area do botao de sair -->
         <p class="text-muted mx-2 mb-lg=0">??</p>
         <button class="btn btn-danger">Sair</button>
         <!-- fim da area -->
    </div>
  </div>
</nav>