<!-- cabeçalho principal -->
<%- include('partials/header') %>

<!-- o conteúdo do index -->
<main>
<h1>estou no index</h1>
</main>
<!-- Rodapé de todas as páginas -->
<%- include('partials/footer') %>