<!-- header -->
<%- include('../partials/header') %>


<main class="container d-flex flex-column flex-fill justify-content-center" >
<h1  class="text-center">Página de cadastro de Usuários</h1>

<!-- criando formulário -->
<form action="/usuarios/cadastrar" method="POST" >

    <div class="mb-3" >
        <!-- caixinha de usuário -->
        <label for="inputNome" class="form-label fs-2 mt-2" > Nome de Usuário </label>
        <input type="text" id="inputNome" class="form-control form-control-lg" placeholder="Digite o nome de usuário" name="usuario" required="" >
    </div>

    <!-- caixinha de email -->
    <label for="inputEmail" class="form-label fs-2 mt-2" >Email</label>
      <input type="email" id="inputEmail" class="form-control form-control-lg" placeholder="Digite o email" name="email" required="" >

      <!-- caixinha de senha -->
     <label for="inputSenha" class="form-label fs-2 mt-2" >Senha</label>
      <input type="password" id="inputSenha" class="form-control form-control-lg" placeholder="Digite a senha" name="senha" required="" >

      <label class="form-label fs-2 mt-2" >Tipo de usuário</label>
      <select name="tipo" class="form-select form-select-lg mb-3">
        <option value="Funcionário">Funcionário</option>
        <option value="Gerente">Gerente</option>
        <option value="Administrador">Administrador</option>
      </select>

      <!-- botão pra envio do formulário -->
       <button type="submit" class="btn btn-lg btn-primary" >
        Cadastrar
       </button>
</form>
</main>

<!-- footer -->
<%- include('../partials/footer') %>