<!-- Cabecalho principal  -->
<%- include('../partials/header') %>

<!-- Conteudo do index  -->
<main class="d-flex flex-column flex-fill text-center justify-content-center">
  <div
    class="w-50 mx-auto align-content-center bg-danger text-white"
    style="height: 300px"
  >
    <h1>ERRO</h1>
    <h2><%- mensagem %></h2>

    <!-- Criando botões para outras páginas -->
    <a href="/usuarios"> 
        <button class="btn btn-lg btn-secondary mx-2">
            Voltar para lista de usuários
        </button>
    </a>

    <a href="/usuarios/cadastrar">
        <button class="btn btn-lg btn-primary mx-2">
            Voltar para página de cadastro
        </button>
    </a>
  </div>
</main>

<!-- Rodape de todas as páginas  -->
<%- include('../partials/footer') %>